/* Phần xử lý danh sách phim */
.mov-list ul {
  list-style-type: none;
  /* width: 100%; */
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1rem 0rem;
  display: flex;
  justify-content: flex-start;
  gap: 0.4rem;
}
.movie li {
  transition: transform 0.5s;
  cursor: pointer;
  /* flex: 0 0 auto; Allow items to grow, but don't shrink */
}
.movie li:hover {
  transform: scale(1.2);
  z-index: 10;
}
